<table>
  <% 4.times do |y| %>
  <tr class= 'row_<%= y.to_s %>'>
    <% 4.times do |x| %>
      <td class= 'col_<%= x.to_s %> clickable'>
        <input class = 'x' type='hidden' value= '<%=x%>'>
        <input class = 'y' type='hidden' value= '<%=y%>'>
      </td>

    <% end %>
  </tr>
  <% end %>
</table>

<div class='wrapper'>
<button id="start_life_btn">start life</button>
</div>

