body {
  background-image: url('congruent_pentagon.png');
}

.home_page {
  font-family: 'Varela Round', sans-serif;
}

#title {
  height:150px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-75px;
  margin-left:-100px;
  border-radius: 5px;
  background:#ccc;
  padding:15px;
  height:50px;
}




h2.home_page a {
  text-decoration: underline;
  color: black;
}


