@import "foundation/components/grid";

.wrapper {
  background-image: url('congruent_pentagon.png');
  @include grid-row($behavior: nest);
  position:relative;
}

.title-div {
  position: absolute;
  height: 200px;
  margin-top: 20%;
  text-align: center;
}

.child {
}

/*.title-div {
  @include grid-column(
    $columns:12,
    $last-column:false,
    $center:true
  );
  border: 2px solid black;
  position: relative !important;
  text-align:center;

  .child {
    @include grid-column(
      $columns:4,
      $last-column:false,
      $center:true
    );

    border: 2px solid black;
    height: 150px;
    position: absolute !important;
    top: 50%;
    }



}

*/
.home_page {
  font-family: 'Varela Round', sans-serif;
}







/*
#title {
  height:150px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-75px;
  margin-left:-100px;
  border-radius: 5px;
  background:#ccc;
  padding:15px;
  height:50px;
}




h2.home_page a {
  text-decoration: underline;
  color: black;
}
*/

